body {
    font-family: 'Cinzel Decorative', cursive;
    background-color: #f7f5e9;
    font-size: 20px;
}

h1, h2 {
    color: red;
    text-align: center;
    font-size: 60px;
}

h2 {
    text-decoration: overline;
    text-decoration-color: dimgrey;
}


#name {
    font-family: 'Cinzel Decorative', cursive;
    border: none;
    background-color: #f7f5e9;
    border-bottom: solid;
    border-width: 1px;
    width: 300px;
    padding-left: 6px;
    font-size: 35px;
    padding-top: 9px;
}

#dwarves, #gnomes, #elves, #halfElf, #halfOrc, #halfling, #human {
    width: 30px;
}

#selectStat {
    width: 1100px;
}

#selectStats {
    border:solid;
    border-style: dotted;
    width: 1140px;
    margin-top: 10px;
    margin-left: 100px;
}
#barbarian, #bard, #cleric, #druid, #fighter, #monk, #paladin, #ranger, #rogue, #sorcerer, #wizard {
    width: 30px;
}

table {
    font-size: 20px;
    margin: 20px;
    width: 1300px;
}

tr {
    margin: 10px;
}

td {
    text-align: center;
}

#classBox, #raceBox {
    border: solid;
    border-style: dotted;
    text-align: center;
    padding: 20px;
    width: 1100px;
    margin-left: 100px;
    display: block;
}

#genre {
    margin: 100px;
    margin-left: 460px;
}
#generate {
    background-color: forestgreen;
    float: left;
    margin-right: 40px;
}
#reset {
    background-color: firebrick;
    clear: left;
}
#generate, #reset {
    font-family: 'Cinzel Decorative', cursive;
    padding: 10px;
    width: 200px;
    height: 100px;
    font-size: 25px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#stats {
    float: left;  
    margin-bottom: 100px;
    text-align: right;
}

#str, #dex, #cons, #int, #wis, #cha {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 19px;
    border: none;
    background-color: #f7f5e9;
    border-bottom: solid;
    border-width: 1px;
    
}

#statsGold {
    margin-left: 250px;
}
#goldArea {
    clear: both;
    float: right;
    margin-right:390px;
    text-align: right;
    margin-top: -320px;
    
}
#gold {
    font-family: 'Cinzel Decorative', cursive;
    background-color: #f7f5e9;
    border: none;
    text-align: center;
    border-bottom: solid;
    border-width: 1px;
    margin-top: 20px;
    font-size: 20px;
    margin-right: -90px;
}
#gText {
    text-align: left;
    margin-right: 170px;
    margin-bottom: -19px;
}

#goldPic {
    margin-bottom: -10px;
    margin-right: -30px;
}

